*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.game-board {
    position: relative;
    border: 1px solid black;
    width: 90%;
    height: 100%;
}

.main-background{
    width: 100%;
    height: 100%;
    

}

.main {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);
    top: 0;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.texts {
    position: absolute;
    width: 40%;
    height: auto;
    top: -100%;
    color: white;
    font-family: "Press Start 2P", monospace;
    text-align: center;
}

.active {
    animation: credits 20s infinite linear;
}

.texts h2 {
    color: white;
    font-size: clamp(60px, 2.5vw, 26px);
    margin: 5%;
    font-family: "Squada One", sans-serif;
    font-weight: 100;
}

.texts p {
    font-size: clamp(40px, 2.5vw, 26px);
    margin: 2%;
    color: rgb(158, 158, 157);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
    font-size: clamp(80px, 2.5vw, 26px);
    
}

.form {
    display: none;
    flex-direction: column;
    width: 40%;
    height: auto;
    background-color: #473320;
    align-items: center;
    border-radius: 50px;
    padding: 2%;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 8px 0px;
    border:4px solid #ffffff;
}

.form h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 3vw, 30px);
    text-align: center;
}

.form input {
    width: 70%;
    height: 20%;
    border-radius: 20px;
    padding: 1%;
    border: none;
    font-size: 20px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.24);
    color: white;
    margin: 5% 0 5% 0;
    box-shadow: rgba(22, 17, 17, 0.2) 0px 2px 8px 0px; ;
}

.form button {
    width: 70%;
    border-radius: 20px;
    padding: 2%;
    border: none;
    font-size: 30px;
    background-color: #8A7352;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form .active {
    background-color: #D4A857;
}

.form .active:hover {
    background-color: #E1B96A;
}

.form p {
    margin-top: 5%;
    font-size: 30px;
    color: white;
    text-align: center;

}

.div-notas {
    display: flex;
    justify-content: center;
    margin: 5% 0 5% 0;
    gap: 5%;
}

.nota {
    background-color: #5A4330;
    padding: 5%;
    border-radius: 25%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: solid 2px #6b593f;
    cursor: pointer;
}

.nota p {
    font-size: clamp(10px, 2vw, 30px);
}

.form .respost {
    margin: 5% 0 1% 0;
    font-size: clamp(2px, 2vw, 25px);
}





@keyframes credits {
    0% {
        top: 100%;
    }

    100% {
        top: -115%;
    }
}

